/* --------- POPPINS FONT Link --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------- VARIABLES --------------- */
:root {

    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(245, 90, 90);
    --heading-color: rgb(68, 68, 68);
    /* rgb(30, 159, 171) 
    rgb(110, 87, 224) 
    rgb(40, 91, 212)
    */

    --first-color:  rgb(255, 91, 41);
    --first-color-hover: rgb(253, 63, 0);

    --second-color: rgb(255, 106, 0);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

    --button-color: #efefef;
}

.dark-mode {
    --body-color: rgb(30, 30, 30);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(216, 216, 216);
    --text-color-third: rgb(245, 90, 90);
    --heading-color: rgb(0, 0, 0);
    /* rgb(30, 159, 171) 
    rgb(110, 87, 224) 
    rgb(40, 91, 212)
    */

    --first-color:  rgb(255, 91, 41);
    --first-color-hover: rgb(253, 63, 0);

    --second-color: rgb(255, 106, 0);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

    --button-color: #272727;
}

/* -------- BASE -------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* -------- SMOOTH SCROLL --------- */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ----------- CHANGE THE SCROLL BAR DESIGN ----------- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* ================= MAIN BOX ================== */

.section {
    padding-block: 5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}
/* ------------- REUSABLE CSS -------------- */
.top-header {
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1  {
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span {
    color: #999;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--heading-color);
}


/* ============= GLOBAL BUTTON DESIGN =============== */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: var(--button-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    color: var(--text-color-second);
}
.btn>i {
    margin-left: 10px;
    /* color: var(--heading-color); */
}
.btn:hover {
    background: var(--second-color);
    color: var(--color-white);
}

/* ================== GLOBAL ICONS DESIGN ===================== */
i {
    font-size: 16px;
}

/* ================ global social icons design ================ */
.icon > i {
    color: var(--text-color-second);
}

/* =============== BASE ================ */
body {
    background: var(--body-color);
    overflow-x: hidden;
}
.container {
    width: 100%;
    position: relative;
}

/* ================ NAVIGATION BAR =================== */
nav {
    position: fixed;
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    background: var(--body-color);
    line-height: 90px;
    padding-inline: 9vh;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
    position: relative;
}
.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span {
    position: absolute;
    font-size: 5em;
    top: -15px;
    right: -20px;
    color: var(--text-color-second);
}
.nav-menu, .nav-menu-list {
    display: flex;
}
.nav-menu, .nav-list {
    list-style: none;
    position: relative;
}
.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn {
    display: none;
}
.nav-menu-btn i {
    font-size: 28px;
    color: var(--text-color-second);
    cursor: pointer;
}
.nav-button {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-button .mode-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--button-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 5px 8px 2px var(--first-shadow-color);
}
.nav-button .mode-btn .mode-icon {
    font-display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    width: 20px;
    
}
.sun, .moon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sun i, .moon i {
    color: var(--text-color-second);
}
.disable {
    display: none;
}
.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}
.active-link::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--first-color);
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* ================== WRAPPING DESIGN =================== */
.wrapper {
    padding-inline: 10vw;
}

/* ====================== FEATURED BOX ======================= */

.featured-box {
    position: relative;
    display: flex;
    /* align-items: center; */
    height: 100vh;
    min-height: 700px;
}

/* ================ FEATURED BOX TEXT ============== */
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh; 
    width: 50%;
    flex-direction: column; 
    padding-left: 50px;
}
.featured-text-card span {
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}
.featured-name {
    font-size: 50px;
    font-weight: 500;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText {
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info {
    font-size: 15px;
    margin-bottom: 25px;
    color: var(--text-color-second);
}
.featured-text-btn {
    display: flex;
    gap: 20px;
}
.featured-text-btn> .blue-btn {
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn> .blue-btn:hover {
    background: var(--first-color-hover);
}
.social_icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover i {
    color: var(--first-color);
}

/* ===================== FEATURED IMAGE BOX ======================== */
.featured-image {
    display: flex;
    min-height: 80vh;
    width: 50%;
    justify-content: right;
    align-items: center;
}
.image {
    margin: auto 0;
    width:380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imageFloat 7s ease-in-out infinite;
}
.image img {
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imageFloat {
    50% {
        transform: translateX(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* Scroll Icon */

.scroll-icon-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--button-color);
    border-radius: 30px;
    box-shadow: 0  2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i {
    font-size: 20px;
    color: var(--text-color-second);
}

/* ==============  SWITCH MODE MOBILE SIZE ================== */


.switch-mode {
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}
.switch-mode > .btn {
    width: 80%;
    background-color: var(--button-color);
    color: var(--text-color-second);
}

.switch-mode > .btn:hover {
    background-color: var(--text-color-third);
    color: var(--button-color);
}

/* ============= About info  =============== */
.about-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px 70px;
    padding-inline: 20px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    width: 100%;
    border-radius: 20px;
}
.about-info p {
    color: #777;
    font-size: 15px;
    text-align: center;
}
.about-info button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}

/* ===================== ABOUT SKILL BOX ======================== */
.skill-box {
    margin: 10px;
}
.skill-header {
    margin-bottom: 30px;  
}
.skill-header h3 {
    color: var(--text-color-second);
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skill-list span {
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}


/* ===================== PROJECT BOX ======================== */
.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.project-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-box > i {
    font-size: 50px;
    color: #e72300;
    margin-bottom: 25px;
}
.project-box > label {
    font-size: 15px;
    color: #777;
}
.project-box::after, .contact-info::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -100%;
    background:var(--second-color);
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after, 
.contact-info:hover.contact-info::after {
    bottom: 0;
}
.project-box:hover.project-box i, 
.project-box:hover.project-box > h3,
.project-box:hover.project-box > label {
    color: var(--color-white);
    z-index: 2;
}

/* ===================== CONTACT BOX ======================== */
.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 325px;
    padding: 20px 30px;
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info > h2 {
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info h2 > i {
    font-size: 30px;
}
.contact-info > p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p > i {
    font-size: 18px;
}
.contact-info::after {
    background-color: var(--color-white);
}

.contact-info:hover h2, 
.contact-info:hover p,
.contact-info:hover i {
    color: #777;
    z-index: 2;
}

/* ===================== CONTACT FORM ======================== */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field {
    width: 50%;
    height: 55px;
    border: 2px solid #aaa;
    outline: none;
    padding-inline: 20px;
    border-radius: 10px;
    background-color: transparent;
}
textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    padding: 15px 20px;
    border: 2px solid #aaa;
    outline: none;
    border-radius: 10px;
    resize: none;
}
.form-button > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    color: var(--color-white);
}
.form-button > .btn:hover {
    background-color: #e72300;
}
.form-button .btn > i {
    font-size: 18px;
    transform: rotate(-45deg);
}

/* ===================== FOOTER BOX ======================== */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}
.top-footer p {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color-second);
}
.middle-footer .footer-menu {
    display: flex;
}
.footer-menu-list {
    list-style: none;
}
.footer-menu-list a {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons {
    display: flex;
    gap: 30px;
}
.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color-second);
}

/* ============= MEDIA QUERY 1024 PX / RESPONSIVE ================= */
@media only screen and ( max-width: 1024px) {
    .featured-text {
        padding: 0;
    }
    .image, .image img {
        width: 320px;
        height: 320px;
    }
}

/* ============= MEDIA QUERY 900 PX / RESPONSIVE ================= */
@media only screen and ( max-width: 900px) {
    nav {
        justify-content: space-between;
    }
    .nav-button {
        display: none;
    }
    .nav-menu.responsive {
        left: 0;
    }
    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.7);
        align-items: center;
        width: 100%;
        height: 90vh;
        min-height: 480px;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu-list {
        flex-direction: column;
    }
    .nav-menu-btn {
        display: flex;
    }
    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text {
        width: 100%;
        align-items: flex-start;
        order: 2;
        min-height: 60vh;
    }
    .social_icons {
        margin-top: 2rem;
    }
    .featured-image {
        order: 1;
        width: 100%;
        min-height: 150px;
        justify-content: center;
        margin-top: 60px;
    }
    .image, .image img {
        width: 150px;
        height: 150px;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info {
        width: 100%;
    }
    .project-container {
        justify-content: center;
    }
    .project-box {
        width: 80%;
    }
    .switch-mode {
        justify-content: center;
        display: flex;
    }
}

/* ============= MEDIA QUERY 540 PX / RESPONSIVE ================= */
@media only screen  and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }
    .project-box {
        width: 100%;
    }
    .form-inputs {
        flex-direction: column;
    }
    .form-inputs > .input-field {
        width: 100%;
    }
}